[client]
port=3306
socket=/usr/local/mysql/mysql.sock
default-character-set=utf8

[mysqld]
sync_binlog=1
port=3306
socket=/usr/local/mysql/mysql.sock
pid-file=/usr/local/mysql/temp/my3306.pid
user=mysql
datadir=/usr/local/mysql/data
tmpdir=/usr/local/mysql/temp/
log-bin=/usr/local/mysql/data/mysql-bin
log-error=/usr/local/mysql/logs/error.log
slow_query_log_file=/usr/local/mysql/logs/slow1.log
binlog_format=row
slow_query_log=1
long_query_time=5
wait_timeout=28800
interactive_timeout=31536000
max_connections=2000
max_user_connections=1800
max_connect_errors=200
character_set_server=utf8
skip-external-locking
key_buffer_size = 128M
max_allowed_packet = 5M
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
#query_cache_size = 32M

# Try number of CPU's*2 for thread_concurrency
thread_concurrency = 4
binlog-ignore-db=mysql
binlog-ignore-db=information_schema
expire-logs-days=7
lower_case_table_names=1
log_bin_trust_function_creators=1
tmp_table_size=209715200
max_heap_table_size=209715200

# InnoDB
innodb_data_home_dir=/usr/local/mysql/data
innodb_log_group_home_dir=/usr/local/mysql/logs
innodb_data_file_path=ibdata1:1024M:autoextend
innodb_buffer_pool_size=2000M
innodb_log_file_size=1G
innodb_log_buffer_size=16M
innodb_lock_wait_timeout=50
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=1

#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
sql_mode=STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_AUTO_VALUE_ON_ZERO

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
default-character-set=utf8

[myisamchk]
key_buffer_size = 256K
sort_buffer_size = 256K
read_buffer = 256K
write_buffer = 256K
