<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.black.hole.mybatis.mapper.TestMapper">
    <resultMap id="testResultMap" type="com.github.black.hole.mybatis.domain.TestEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="date" column="date"/>
    </resultMap>
    <sql id="testSql">select * from test_entity
        <where>id=#{id}</where>
    </sql>
    <select id="getById" resultType="com.github.black.hole.mybatis.domain.TestEntity" parameterType="long">
        <include refid="testSql"/>
    </select>

    <select id="listEntity" resultMap="testResultMap" parameterType="com.github.black.hole.mybatis.common.QueryPage">
        select * from test_entity where id = #{param.id}
    </select>

    <select id="listByQuery" resultMap="testResultMap"
            parameterType="com.github.black.hole.mybatis.domain.UpperQuery">
        select * from test_entity where id = #{id} and name = #{name}
    </select>
</mapper>
